@import './mixin.scss';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div,
p,
li,
ul,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {text-decoration: none; color: #333;}
li { list-style: none; }
#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.homePage {
  position: absolute;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
  .header-search {
    padding: 10px;
    @include backgroundColor(#d3dd31);
    .location span {
      display: inline-block;
      vertical-align: super;
    }
    .search-container {
      position: relative;
      .search-icon {
        position: absolute;
        top: 50%;
        left: 4px;
        @include transform(translateY(-50%));
        z-index: 9;
      }
      .search-input {
        width: 100% !important;
        height: 30px !important;
        background: #fff !important;
      }
    }
  }
  .main {
    padding: 10px;
    .banner {
      font-size: 12px;
      text-align: center;
      overflow: hidden;
      &-container {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        @include transform(translateX(0px));
        &.tran { @include transition(transform 0.4s linear); }
        ul {
          display: flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          -width: 50%;
          &.slick-dots {
            width: 25%; position: static;
            li.slick-active button:before { color: #b2ff59; }
          }
          li {
            flex-basis: 20%;
            -webkit-flex-basis: 20%;
            div.banner-svg-container {
              width: 40px;
              height: 40px;
              margin: 8px auto 5px;
              @include borderRadius(100%);
            }
          }
        }
      }
    }
    .tab {
      text-align: center;
      span {
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #d3dd31;
        @include borderRadius(10px);
        margin: 5px 6px;
        &.active {
          width: 18px;
        }
      }
    }
  }
}
.svg-icon {
  width: 40px;
  height: 40px;
}
