@import './mixin.scss';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div,
p,
li,
ul,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
figure{
  margin: 0;
  padding: 0;
}
a {text-decoration: none; color: #333;}
li { list-style: none; }
#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.homePage {
  .header-search {
    padding: 10px;
    @include backgroundColor(#d3dd31);
    .location span {
      display: inline-block;
      vertical-align: super;
    }
    .search-container {
      position: relative;
      .search-icon {
        position: absolute;
        top: 50%;
        left: 4px;
        @include transform(translateY(-50%));
        z-index: 9;
      }
      .search-input {
        width: 100% !important;
        height: 30px !important;
        background: #fff !important;
      }
    }
  }
  .main {
    padding: 10px;
    position: absolute;
    top: 78px;
    bottom: 56px;
    left: 0;
    right: 0;
    overflow: auto;
    .banner {
      font-size: 12px;
      text-align: center;
      overflow: hidden;
      &-container {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        @include transform(translateX(0px));
        &.tran { @include transition(transform 0.4s linear); }
        ul {
          display: flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          -width: 50%;
          &.slick-dots {
            width: 25%; position: static;
            li.slick-active button:before { color: #b2ff59; }
          }
          li {
            flex-basis: 20%;
            -webkit-flex-basis: 20%;
            div.banner-svg-container {
              width: 40px;
              height: 40px;
              margin: 8px auto 5px;
              @include borderRadius(100%);
              img { width: 70%; margin: 0 auto; @include transform(translateY(6px))}
            }
          }
        }
      }
    }
    .tab {
      text-align: center;
      span {
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #d3dd31;
        @include borderRadius(10px);
        margin: 5px 6px;
        &.active {
          width: 18px;
        }
      }
    }
    .careful-select {
      &-list {
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 15px;
        .careful-select-item {
         flex-basis: 48%;
          font-size: 12px;
          text-align: right;
          margin-bottom: 20px;
          > a div {
            position: relative;
            img:nth-of-type(1) {
              width: 100%;
            }
            img:nth-of-type(2) {
              position: absolute;
              left: 20px;
              bottom: -20px;
            }
          }
        }
      }
    }
    .around-store-container {
      .around-store {
        margin-top: 20px;
        &-item {
          display: flex;
          display: -webkit-flex;
          margin: 5px 0;
          figure {
            width: 80px;
            margin-right: 10px;
            img { width: 100%; }
          }
          > div {
            flex: 1;
            -webkit-flex: 1;
          }
          p {
            font-size: 12px;
            margin: 8px 0;
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
.store {
  .storeInfo {
    display: flex;
    display: -webkit-flex;
    background: rgba(0,0,0,.8);
    color: #fff;
    figure {
      width: 80px;
      margin-right: 20px;
      transform: translate(10px, 15px);
      img { width: 100%; }
    }
    div {
      flex: 1;
      -webkit-flex: 1;
      h2 {
        margin-bottom: 15px;
        margin-top: 10px;
      }
      span {
        border: 1px solid #adff2f;
        border-radius: 20px;
        padding: 4px 8px;
        font-size: 14px;
      }
    }
  }
}
.svg-icon {
  width: 40px;
  height: 40px;
}
.star {
  width: 15px !important;
  height: 15px !important;
}
.fr { float: right; }
.fl { float: left; }
.rmc-pull-to-refresh-content-wrapper {overflow: hidden;}
.rmc-pull-to-refresh-indicator {margin-top: -25px;}
.fixedPage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  @include transition(0.4s);
  transform: translate3d(100%, 0, 0);
  .shopCar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #290819;
    display: flex;
    .left {
      flex: 1;
      color: #fff;
      img { width: 40px; height: 40px; }
      .cartImg {
        padding: 0 10px;
        margin-right: 10px;
        position: relative;
        i {
          position: absolute;
          border-radius: 100%;
          background: red;
          right: 0;
          top:0;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-style: normal;
          font-size: 12px;
        }
      }
      .totalPrice {
        p {font-size: 12px; letter-spacing: 2px;}
      }
    }
    .right {
      width: 120px;
      text-align: center;
      line-height: 44px;
      color: #04cd03;
    }
  }
}
.active {
  transform: translate3d(0, 0, 0);
}
.topBar {
  height: 35px;
  background: red;
}
.menu-item { margin: 15px; border-bottom: 1px solid #666; }
.count {
  span.btn {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    background: #b5bb1f;
  }
  span.num {
    margin: 0 15px;
  }
}